{% extends 'base.html.twig' %}

{% block title %} Книжный магазин - Название книги{% endblock %}

{% block body %}
<div class="admin-content-block mt-2 pt-5 text-center ms-5 me-5">
    <img class="book-image-user-book-page" src="{{ book.image }}" alt="обложка">
    <h2>{{ book.name }}</h2>
    <p>{{ book.amountOfPages }}</p>
    <p>{{ book.isbn }}</p>
</div>
{% endblock %}
