{% extends 'base.html.twig' %}

{% block title %}Hello FeedbackController!{% endblock %}

{% block body %}
<main class="row">
    {{ include('book/_admin_panel.html.twig') }}
    <div class="col-lg-8 col-md-8 col-sm-12 admin-content-block pt-4 text-center row">

    </div>
</main>
{% endblock %}
